*{
    margin: 0;
    padding: 0;
}
/* hearder banner part styles */


.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    background-image:url('../images/banner/banner2.png');
    

}


.container{
    text-align: right;
    padding-top: 160px;
    padding-right:230px ;

}
.title{
    font-weight: 700px;
    font-size: 65px;
    line-height: 70px;
}
.sub-title{
    padding-top: 20px;
}

/* header btn part  styles*/

.btn1{
    background-color: #F15B22;
    color:#FFFFFF;
    width: 160px;
    height: 64px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    border: 0;
    margin-top: 32px;
}



/* My failurers part  styles*/


.container2{
    display: flex;
    gap:80px;
}
.img-3{
    height:600px;
    margin-left: 200px;
    margin-top: 130px;


}
.sub-contaier2{
    padding-top: 340px;
    
}


.title2{
    padding-bottom: 20px;
    font-size: 28px;
}

.sub-title2{
    padding-bottom: 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}

/* my plan -skills part styles */

.my-plan{
    margin-top: 130px;
    text-align: center;

}
.web-img{
    height: 90px;
    align-items: center;
}
.skill-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* watch bag gardt part styles */
.watch{

    background-image: url('../images/watch.png');
   height: 350px;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 100px;

   
}
.watch-title{
    color: #FFFFFF;
    height: 90px;
    margin-left: 50px;
    padding-top:100px ;
}
.watch-button{
    font-size: 20px;
    margin-left: 50px;
    border-radius: 5px;
    border: 0;
    color: #F15B22;
    padding: 10px;


}
.gardient{ 
    background-image: url(../images/gradient2.png); 
    background-repeat: no-repeat;
    height: 600px;
}

/* input future  part styles */
.input-fields-main-container{
    background-color: #151414;
    height:500px;
    color:#FFFFFF;
    display: flex;
    
}

.input-sub-title{
    font-size: 15px;
}
.future-sub-main-container{
    padding-top: 140px;
    margin-left: 180px;

}
.email{
    margin-top: 22px;
   
}
.phone{
    margin-top: 14px;
}

/* subcribe input styles */
.btn-subcribe{

color: #F15B22;
 font-weight: 600;
font-size: 20px;
padding: 15px 25px;
margin-top: 10px;
border-radius: 5px;
border: 0;

}
.subscribe-sub-main-container{

   padding-left: 360px;
   padding-top: 155px;

}
.input-field{
   margin-top: 30px;
   height: 60px;
   border-radius: 5px;
   border: #151414;
   padding-right:10px ;
   padding-left:10px ;
   background-color:#151414;
   color:#FFFFFF;
   border: 1px solid#FFFFFF;

   
}
